.Board {
  padding: 35px;
}

.Board__Wrapper {
  background: #BBB;
}

.Board__Instructions {
    font-size: 18px;
}

.Board__Instructions--flash {
    color: yellow;
}

.Board__Grid {
    position: relative;
    width: 240px;
    height: 240px;
}
