.Peg--color-A {
    background-color: white;
}

.Peg--color-B {
    background-color: green;
}

.Peg--color-C {
    background-color: yellow;
}

.Peg--color-D {
    background-color: orange;
}

.Peg--color-E {
    background-color: blue;
}

.Peg--color-F {
    background-color: purple;
}
