.Position__Wrapper {
    position: absolute;
    font-size: 12pt;
}

.Position {
    background: black;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    transform: translate(-10px, -10px);
}

.Position--withPeg {
    border-radius: 15px;
    width: 30px;
    height: 30px;
    transform: translate(-15px, -15px);
    cursor: pointer;
}

.Position--jumpTarget {
    cursor: pointer;
}

.Position__Select {
    border: 2px solid green;
    border-radius: 20px;
}

.Position__Select--pickedUp {
    width: 34px;
    height: 34px;
    transform: translate(-19px, -19px);
}

.Position__Select--jumpTarget {
    width: 24px;
    height: 24px;
    transform: translate(-14px, -14px);
}

.Position--color-red {
    background-color: red;
}

.Position--color-green {
    background-color: green;
}

.Position--color-yellow {
    background-color: yellow;
}

.Position--color-orange {
    background-color: orange;
}

.Position--color-blue {
    background-color: blue;
}

.Position--color-purple {
    background-color: purple;
}

.Position--color-white {
    background-color: white;
}
